@page
@model Analisis_Numerico_2026.Pages.IndexModel

<h2>Análisis Numérico 2026 - UCSE</h2>

<div class="unit-cards">

    <a href="/Unit1" class="unit-card">
        <span class="unit-badge">Unidad 1</span>
        <span class="unit-title">Raíces de funciones</span>
        <span class="unit-desc">Bisección, Regla Falsa, Newton-Raphson, Secante</span>
    </a>

        <a href="/Unit2" class="unit-card">
        <span class="unit-badge">Unidad 2</span>
        <span class="unit-title">Sistemas de ecuaciones</span>
        <span class="unit-desc">Gauss-Jordan, Gauss-Seidel</span>
    </a>

</div>